#recommendedBox {
    background-color: rgb(255, 224, 140);

    width: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}