#mainPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #333;
    text-decoration: underline;
}

.addItinerary {
    cursor: pointer;
    width: 100%;
}

.addItinerary:hover {
    background-color: rgb(255, 225, 54);
}

#itineraryList {
    padding:  30px 20%;
    margin: 0px;
    margin-bottom: 0px;
    width: 60%;
}

#red {
    background-color: rgb(235, 70, 79);
}

#results{
    width: 60%;
}

#result {
    display: flex;
    background-color: rgb(217, 229, 245);
    padding: 10px;
    margin: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;

}

#result > img{
    margin: 15px;
    border-radius: 10px;
}

#result:hover {
    background-color: rgb(223, 234, 248);
}

#resultInfo{
    display:flex;
    flex-direction: column;
    width: 100%;
}

#resultInfo>h2 {
    margin-left: 50px;
}

#resultInfo > p {
    margin-left: 50px;
}