.search-container {
    margin: 30px 10px 20px 10px;
}

#results{
    width: 60%;
}

#resultInfo{
    display:flex;
    flex-direction: column;
    width: 100%;
}

#resultInfo>h2 {
    margin-left: 50px;
}

#resultDetails {
    display: flex;
    text-align: left;
}

#resultDetails > p {
    margin: 10px 50px
}

.result-card {
    display: flex;
    background-color: rgb(217, 229, 245);
    padding: 10px;
    margin: 15px 0;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.result-card:hover {
    background-color: rgb(200, 220, 240);
}

#recommendedBox {
    background-color:  rgb(255, 237, 189);

    width: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
