.search-container {
    margin: 30px 10px 20px 10px;
}

#results{
    width: 60%;
}

#result {
    display: flex;
    background-color: rgb(217, 229, 245);
    padding: 10px;
    margin: 10px;
    width: 100%;
    text-align: left;
}

#result > img{
    margin: 15px;
    border-radius: 10px;
}

#result:hover {
    background-color: rgb(223, 234, 248);
}

#resultInfo{
    display:flex;
    flex-direction: column;
    width: 100%;
}

#resultInfo>h2 {
    margin-left: 50px;
}

#resultDetails {
    display: flex;
    text-align: left;
}

#resultDetails > p {
    margin: 10px 50px
}

#recommendedBox {
    background-color:  rgb(255, 237, 189);

    width: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}