input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(search.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;

    padding: 10px 20px;
    
    border-radius: 20px;
    margin: 10px;

    width: 75%;
}

form {    
    width: 80%;
    text-align: center;
    align-items: center;
    /* Ensure it doesn't break if the screen is too small */
}

form > select {
    border-radius: 20px;
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: center;

    text-align: center;
    align-items: center;
}

#filter {
    padding: 20px;
    margin: 10px;
    background-color: rgb(200,200,200);
    border-radius: 20px;
    width: 20%;
}

#toggleFilters {
    text-align: center;
    align-items: center;
}