html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 100%;
    background-color: rgb(242, 249, 255);
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
}

a {
    color: inherit; 
    text-decoration: none; 
    margin: inherit;
    padding: inherit;
}

button {
    border: 0;
    background-color: rgb(235, 70, 79);
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px #8b8b8b;
}

button:hover {
    background-color: rgb(248, 98, 105);
}

#mainPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleHeader {
    display: flex;
    justify-content: space-between;
}

#headerItem {
    background-color: rgb(145, 176, 218);
    width: 150px;
}

#headerItem:hover {
    background-color: rgb(188, 206, 231);
}

#title {
    width: 25%;
    padding: 10px;
    text-align: center;
}

#optionBox{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#navBar {
    display: none;
}

#container {
    background-color: rgb(241, 213, 220);
    width: 30%;
    height: 450px;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}